*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 20px 0;
}

form{
  width : 30%;
  height: 350px;
  border: 1px solid red;
  border-radius: 15px;
  margin: 50px auto;
  min-width: 500px;
  max-width: 600px;
}

.form-group{
  display: flex;
  flex-wrap: wrap;
}

.form-label{
  font-size: 1.1rem;
  padding: 10px;
  width: 40%;
  margin-left: 10px;
}

.form-input{
  font-size: 0.8rem;
  padding: 5px;
  width: 50%;
  height: 15%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.error{
  color: red;
  margin-left: 20px;
}

.form-btn{
  font-size: 1rem;
  padding: 5px;
  border-radius: 8px;
  width: 25%;
  color: white;
  background-color: black;
  display: block;
  margin: auto auto;
}